*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#page1{
    height: 1000px;
    width: 1500px;
    background-color: #fbd2d2;
}
#page2{
    height: 1000px;
    width: 1500px;
    background-color: #f29d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2 img{
    height: 500px;
    width: 800px;
}
#page3{
    height: 1000px;
    width: 1500px;
    background-color: #f56a6a;
}

